body {
    font-family: Arial, sans-serif;
    margin: 20px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

h1 {
    margin: 0;
    font-size: 24px;
}

#srm-logo {
    height: 50px;
}

.container {
    display: flex;
}

.sidebar {
    width: 200px;
    background-color: #f8f8f8;
    padding: 20px;
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
}

.sidebar ul li {
    margin-bottom: 10px;
}

.sidebar ul li a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
}

.sidebar ul li a:hover {
    color: #4CAF50;
}

.main-content {
    flex-grow: 1;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

#user-avatar {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
}

.dropdown-content {
    display: none;
    flex-grow: 1;
    flex-direction: column;
    align-items: flex-start;
}

.dropdown-content label,
.dropdown-content select,
.dropdown-content button {
    margin-bottom: 10px;
}

#scan-selection,
#blood-bank-selection,
#organ-donor-selection,
#urine-specimen-selection {
    font-weight: bold;
}
